name: deploy

on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          known_hosts: 'will-be-set-now'
      
      - name: Deploy CES2 production
        run: > 
          ssh-keyscan -H demo2.community-exchange.org >> ~/.ssh/known_hosts &&
          ssh -o ServerAliveInterval=180 -o ServerAliveCountMax=5 deploy@demo2.community-exchange.org
          "cd /opt/app.ces.community
          && cd ices && git pull && cd ..
          && cd komunitin && git pull
          && ./start.sh --up --public"
